@keyframes show-up-left {
  from {
    opacity: 0;
    transform: translateX(0)
  }

  to {
    opacity: 1;
    transform: translateX(-10vw)
  }
}

@keyframes show-up-right {
  from {
    opacity: 0;
    transform: translateX(0)
  }

  to {
    opacity: 1;
    transform: translateX(5vw)
  }
}

@keyframes move-up {
  to {
    transform: scale(1.1, 1.1)
  }
}
